
.icon-address:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-locations:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-feather:before { content: '\e804'; } /* '' */
.icon-file:before { content: '\e805'; } /* '' */
.icon-mail-1:before { content: '\e806'; } /* '' */
.icon-login:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-message:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-phone-call:before { content: '\e80c'; } /* '' */
.icon-right-arrow-1:before { content: '\e80d'; } /* '' */
.icon-shopping-bag-1:before { content: '\e80e'; } /* '' */
.icon-email-1:before { content: '\e80f'; } /* '' */
.icon-location:before { content: '\e810'; } /* '' */
.icon-email-2:before { content: '\e812'; } /* '' */
.icon-placeholder:before { content: '\e813'; } /* '' */
.icon-quote_soft:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-filter:before { content: '\e816'; } /* '' */
.icon-time:before { content: '\e817'; } /* '' */
.icon-call-1:before { content: '\e818'; } /* '' */
.icon-share:before { content: '\e823'; } /* '' */
.icon-shopping-bag-2:before { content: '\e824'; } /* '' */
.icon-whatsapp:before { content: '\e825'; } /* '' */
.icon-chat-1:before { content: '\e826'; } /* '' */
.icon-clock:before { content: '\e827'; } /* '' */
.icon-chat:before { content: '\e828'; } /* '' */
.icon-checkmark:before { content: '\e829'; } /* '' */
.icon-arrow-long:before { content: '\e82a'; } /* '' */
.icon-right-arrow:before { content: '\e82b'; } /* '' */
.icon-phone-1:before { content: '\e82c'; } /* '' */
.icon-tick:before { content: '\e82d'; } /* '' */
.icon-shopping-bag:before { content: '\e82e'; } /* '' */
.icon-menu_arrow:before { content: '\e82f'; } /* '' */
.icon-search-1:before { content: '\e830'; } /* '' */
.icon-play-button-arrowhead:before { content: '\e831'; } /* '' */
.icon-right-arrow-2:before { content: '\e832'; } /* '' */
.icon-search-2:before { content: '\e833'; } /* '' */
.icon-account:before { content: '\e834'; } /* '' */
.icon-play:before { content: '\e835'; } /* '' */
.icon-search-3:before { content: '\e837'; } /* '' */
.icon-phone-call-1:before { content: '\e838'; } /* '' */
.icon-call-2:before { content: '\e839'; } /* '' */
.icon-email-3:before { content: '\e83d'; } /* '' */
.icon-quote:before { content: '\e83e'; } /* '' */
.icon-arrow:before { content: '\e83f'; } /* '' */
.icon-loupe:before { content: '\e840'; } /* '' */
.icon-pin:before { content: '\e841'; } /* '' */
.icon-avatar:before { content: '\e844'; } /* '' */
.icon-call:before { content: '\e845'; } /* '' */
.icon-download:before { content: '\e846'; } /* '' */
.icon-mail:before { content: '\e848'; } /* '' */
.icon-magnifying-glass:before { content: '\e849'; } /* '' */
.icon-send:before { content: '\e84a'; } /* '' */
.icon-wall-clock:before { content: '\e84c'; } /* '' */
.icon-location-1:before { content: '\e84e'; } /* '' */
.icon-facebook:before { content: '\e84f'; } /* '' */
.icon-clock-1:before { content: '\e850'; } /* '' */
.icon-location-2:before { content: '\e851'; } /* '' */
.icon-shopping-bag-3:before { content: '\e853'; } /* '' */
.icon-instagram:before { content: '\e854'; } /* '' */
.icon-quote_soft_vert:before { content: '\e855'; } /* '' */
.icon-quote_hard_01:before { content: '\e856'; } /* '' */
.icon-quote_hard_02:before { content: '\e857'; } /* '' */
.icon-quote_semi:before { content: '\e858'; } /* '' */
.icon-play-1:before { content: '\e859'; } /* '' */
.icon-accent:before { content: '\e85a'; } /* '' */
.icon-avatar-1:before { content: '\e85b'; } /* '' */
.icon-shopping-cart:before { content: '\e85d'; } /* '' */
.icon-right-arrow-3:before { content: '\e85e'; } /* '' */
.icon-goat:before { content: '\e85f'; } /* '' */
.icon-milk:before { content: '\e860'; } /* '' */
.icon-nature-product:before { content: '\e861'; } /* '' */
.icon-cheese:before { content: '\e862'; } /* '' */
.icon-field:before { content: '\e863'; } /* '' */
.icon-open-mail:before { content: '\e864'; } /* '' */
.icon-wall-clocks:before { content: '\e865'; } /* '' */
.icon-call-3:before { content: '\e866'; } /* '' */
.icon-bigwave:before { content: '\e868'; } /* '' */
.icon-bigwave02:before { content: '\e869'; } /* '' */
.icon-choice:before { content: '\e86a'; } /* '' */
.icon-grunge_dark_line:before { content: '\e86b'; } /* '' */
.icon-play-3:before { content: '\e86c'; } /* '' */
.icon-right-chevron:before { content: '\e86d'; } /* '' */
.icon-shape:before { content: '\e86e'; } /* '' */
.icon-play-2:before { content: '\e86f'; } /* '' */
.icon-arrow-1:before { content: '\e870'; } /* '' */
.icon-arrow-2:before { content: '\e871'; } /* '' */
